body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}

.menu1{
    min-height: 100vh;
    background-image: url('./torii-gate.jpg');
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.menu{
    display: flex;
}

.menu h1{
    padding-left: 40px;
    color: white;
    font-size: 18px;
}


.header-input input {
    padding: 8px;
    border-radius: 20px;
    border: 2px solid white;
    background: none;
}
.acr-left{
    
margin: 80px;
color: white;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
padding-left: 40px;
}
.lukes{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 60px; */
}
.lukes img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.lukes p{
    font-size: 20px;
    font-family: fantasy;
    color: white;
}
.rpg{

    border-radius: 40px;
    background-color: #FF3D00;
    /* margin-left: 80px; */
    margin-top: 10px;
    border: solid none;
    font-size: x-large;
    color: aliceblue;
    border: none;
    padding: 5px 24px;

}


.main-text h1 {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: .2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.main-text p{
font-size: 20px;
font-weight: bold;
color: white;
width: 50%;
}

.image-cards{
    min-height:60vh ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #070203;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.card h1{
    font-size: 40px;
    font-weight: bolder;
}
.card p{
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.ar img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 16px;
    border: 2px dashed white;
    padding: 10px;
}

.ar img:hover{
    padding: 0;
    transition: padding ease-in-out .5s;
}

.tales{
    background-color: #070203;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px 20px 360px;
    margin-left: auto;
}
.tales img{
 height: 500px;
 width: 390px;
 border-top-left-radius: 14px;
 border-bottom-right-radius: 14px;
 border:2px dashed white 
}

.project{
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.project>h1{
    font-size: 50px;
}

.line{
    margin-bottom: 14px;
}

.line a {
    margin: 12px 10px;
    color: white;
    text-transform: capitalize;
    font-size: 25px;
    justify-content: space-around;
    
}


.line a:hover{
    color: #FF3D00;
}

.project p {
    width: 70%;
    font-size: 20px;
}
.tales p{
    font-size: x-large;
     font-weight:50% ;
     font: bold;
    
}
.project button{
    border-radius: 40px;
    background-color: #FF3D00;
    box-shadow:2px 2px 15px rgb(124, 38, 7);
    border: none;
    color: white;
    padding: 10px 28px;
}
.overall{
 background-color: #070203 ;
 min-height: 90vh;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}
.moments h1{
    color: white;
    /* text-shadow: 10px 10px rgb(226, 96, 10); */
    font-size: 45px;
}
.moments h2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
}

.share{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.share img {
 height: 400px;
 width: 300px;
    margin-left: 20px;
}

.share img:hover {
        border: 1px solid white;
        box-shadow: 1px 1px 5px rgb(255, 255, 255);
   }
.explore{
 background: black;
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 68px 360px ;
 min-height: 80vh;
}
.explore-desc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-out h1{
    border-radius: 20px;
    border: 4px orangered solid;
    padding: 10px 28px;
 color: aliceblue;
}

.p img{
    width: 400px;
    height: 500px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 38px;
    border: 2px dashed white;
}
.p {
    display: flex;
    justify-content: center;
}
.title3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title3 p{
   width: 80%;
   font-size: 20px;
}
.title3 h1{
font-size: 40px;
}
.title3 h2{
font-size: 35px;
}

.title3 button{
    padding: 10px 28px;
    color: white;
    border-radius: 20px;
    border: 3px solid #FF3D00;
    background: none;
}

.title3 button:hover{
    background: #FF3D00;
    cursor: pointer;
    box-shadow: 10px 10px rgb(130, 37, 4) ;
}
.solo-img{
    background: #070203;
    display: flex;
    justify-content: first baseline;
    padding-left: 190px;
    padding-top: 560;
    min-height: 80vh;


}
.solo-img img{
    margin-top: 30px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 5px white dashed;
}
.solo-img img:hover{
    transition: 0.5s;
   border: none;
   width: 1100px;
   height: 450px;

}


.cards{
    background-color: #070203;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards .card:nth-child(1){
    margin-right: 320px;
}

.cards .card:nth-child(2){
    margin-left: 320px;
}

.cards .card:nth-child(3){
    margin-right: 320px;
}

.cards .card:nth-child(4){
    margin-left: 320px;
}

.card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 80px 0px;
}

.card h3 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.card h2 {
    color: gray;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.card a {
    color: #FF3D00;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.card img {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 2px dashed white;
    margin-right: 36px;

}



